:root{
    --black: rgb(28, 29, 36);
    --dark-red: #a8041d;
    --dark-green: #174240;
    --red: #eb0404;
    --green: #01c321;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
}
.container {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
}
h1{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 28%;
    transform: translateX(-50%);
    font-size: 40px;
}
img {
    width: 50%;
    margin: 0 auto 5px;
    display: block;
}
p{
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
}
.botao{
    background-color: var(--black);
    border: none;
    outline: none;
    color: whitesmoke;
    font-size: 16px;
    padding: 15px 0;
    width: 150px;
    border-radius: 5px;
}
.botao:hover{
    cursor: pointer;
    background-color: #08080c;
    transition: ease 0.3s;
}
.spin{
    -webkit-animation: spin 0.3s linear;
    -moz-animation: spin 0.3s linear;
    animation: spin 0.3s linear;
    animation-duration: 0.3s;
}
@-webkit-keyframes spin{
    0%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(120deg);}
}
@-moz-keyframes spin{
    0%{-moz-transform: rotate(0deg);}
    100%{-moz-transform: rotate(120deg);}
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(120deg);}
}
@media only screen and (max-width: 460px){
    h1{
        font-size: 26px;
    }
    p{
        font-size: 20px;
    }
}